
//COLORS
$violet: hsl(249, 99%, 64%);
$darker-violet: hsl(278, 94%, 30%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

//FONTS
@font-face {
  font-family: 'Space Grotesk Bold';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: 'Space Grotesk Light';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-Light.ttf);
}

@font-face {
  font-family: 'Space Grotesk Medium';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: 'Space Grotesk Regular';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: 'Space Grotesk Semi-Bold';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-SemiBold.ttf);
}

$bold: 'Space Grotesk Bold', sans-serif;
$light: 'Space Grotesk Light', sans-serif;
$medium: 'Space Grotesk Medium', sans-serif;
$regular: 'Space Grotesk Regular', sans-serif;
$semiBold: 'Space Grotesk Semi-Bold', sans-serif;

//UTILITIES
$dev-border: 1px solid red;
$transition: all 250ms ease;

//STYLE RULES

.app-container {
  height: 100vh;
  background: $white;
  display: flex;

  .app-column-1 {
    flex-basis: 35%;
    background: url('../src/images/bg-main-desktop.png');
    background-size: cover;
    position: relative;

    .card-front-container {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 20%;

      .card-logo {
        position: absolute;
        right: 100%;
        transform: translateX(100%);
        padding: 20px 0 0 20px;
      }

      .card-number {
        position: absolute;
        width: 100%;
        bottom: 37%;
        color: $white;
        font-family: $medium;
        font-size: 2em;
        padding-left: 20px;
      }

      .cardholder {
        position: absolute;
        bottom: 10%;
        color: $white;
        font-family: $medium;
        font-size: 1.1em;
        padding-left: 20px;
      }

      .card-expiration {
        position: absolute;
        bottom: 10%;
        left: 100%;
        transform: translateX(-100%);
        padding-right: 20px;
        color: $white;
        font-family: $medium;
        font-size: 1.1em;
      }
    }

    .card-back-container {
      display: inline-block;
      position: absolute;
      left: 65%;
      top: 50%;

      .cvc {
        position: absolute;
        color: $white;
        font-family: $medium;
        font-size: 1.1em;
        bottom: 47%;
        left: 100%;
        transform: translateX(-100%);
        padding-right: 50px;
      }
    }
  }

  .app-column-2 {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-details-form {
      width: 50%;

      label {
        display: inline-block;
        color: $very-dark-violet;
        font-family: $medium;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        font-family: $medium;
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: $transition;
        //padding: 10px;
        //margin-bottom: 10px;
      }

      input:hover {
        border: 1px solid $very-dark-violet;
      }

      input:focus {
        border: 1px solid $violet;
        outline: none;
      }



      input::placeholder {
        color: black;
        opacity: .2;
      }

      input[type='submit'] {
        border: none;
        background: $very-dark-violet;
        color: $white;
        padding: 20px;
        cursor: pointer;
        transition: $transition;
        margin-top: 30px;
        width: 104%;
      }

      input[type='submit']:hover {
        background: $darker-violet;
      }

      .exp-cvc-container {
        display: flex;

        .exp-date-container {
          width: 50%;
  
          .exp-input-container {
            display: flex;
  
            #exp-month {
              width: 50%;
              display: inline-block;
              margin-right: 15px;
            }
            #exp-year {
              width: 50%;
              display: inline-block;
            }
          }
        }

        .cvc-container {
          width: 50%;
          padding-left: 30px;
        }
      }
    }

    .complete-state-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;

      img {
        margin-bottom: 30px;
      }

      .thank-you {
        font-family: $medium;
        font-size: 3em;
        letter-spacing: 5px;
        //padding: 10px 0;
        color: $very-dark-violet;
      }

      .details-confirmation {
        font-family: $medium;
        font-size: 1.5em;
        //padding: 10px 0;
        color: hsla(278, 68%, 11%, 0.5);
      }

      .continue-button {
        width: 100%;
        font-family: $medium;
        font-size: 1.1em;
        padding: 15px;
        border: none;
        color: $white;
        background: $very-dark-violet;
        border-radius: 5px;
        margin-top: 30px;
        cursor: pointer;
        transition: $transition;
      }

      .continue-button:hover {
        background: $darker-violet;
      }
    }
  }
}