
//COLORS

//FONTS
@font-face {
  font-family: 'Space Grotesk Bold';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: 'Space Grotesk Light';
  src: url(../public/font/Space_Grotesk/SpaceGrotesk-Light.ttf);
}

$bold: 'Space Grotesk Bold', sans-serif;
$light: 'Space Grotesk Light', sans-serif;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

//MEDIA QUERIES

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: $bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
